/*Cambio estilos para icono ordenar*/
span {
  float: right;
}

/*Tamaño Tablet*/
@media screen and (max-width: 740px) {
  span {
    float: none;
  }
}

/*Tamaño Teléfono*/
@media screen and (max-width: 580px) {
  span {
    display: none;
  }
}
